
.social {
  margin-bottom: 14px;
}
.social ul.btn-share li a:link {
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 4px 0px;
}
.social ul li {
  float: left;
  width: 31%;
  display: block;
  margin: 0 2px;
  padding:0;
  /*border: 1px solid;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 1px 0 #333!important;*/
}
.btn-share a.button {
	color:white;
	text-decoration:none;
}
.widget ul.btn-share {
  padding: 0;
  margin: 0;
}
.btn-share .fa-facebook {
  background: #43609c;
}
.btn-share .fa-twitter {
  background: #55acee;
}
.btn-share .fa-google-plus {
  background: #eb5d4b;
}
.comparteme{
  font-family: cursive;
  font-size: 14px;
  padding-bottom: 2px;
  padding-left: 2px;
}

